<!-- main_project/myproject/myapp/templates/activation_success.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Активация успешна</title>
    <link rel="stylesheet" href="{% static 'CSS/activation_success.css' %}">
</head>
<body>
    <div class="chat-container">
        <h1>Ваш аккаунт успешно активирован!</h1>
        <p>Теперь вы можете войти в систему и начать использовать чат.</p>
    </div>
</body>
</html>