{% load socialaccount %}  <!-- Загрузка тегов allauth -->

<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}"> <!-- Подключаем стили -->
</head>
<body>
    <div class="login-container">
        <div class="header">
            <h1 style="display: inline;">Вход</h1>
            <button id="theme-toggle" class="theme-toggle-button" style="margin-left: 10px;">
                <span id="theme-icon" class="icon">🌙</span>
            </button>
        </div>
        {% if error %}
            <div class="error-message">{{ error }}</div> <!-- Сообщение об ошибке -->
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div>
                <label for="id_username">Имя пользователя:</label>
                <input type="text" id="id_username" name="username" required>
            </div>
            <div>
                <label for="id_password">Пароль:</label>
                <input type="password" id="id_password" name="password" required>
            </div>
            <button type="submit">Войти</button>
        </form>
        <div class="social-auth">
            <a href="{% provider_login_url 'google' %}" class="btn btn-google">Войти через Google</a>
        </div>
        <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p> <!-- Кнопка для регистрации -->
    </div>

    <script>
        // Функция для переключения темы
        function toggleTheme() {
            document.body.classList.toggle('dark-theme');
            const themeIcon = document.getElementById('theme-icon');
            
            // Сохранение темы в localStorage
            if (document.body.classList.contains('dark-theme')) {
                themeIcon.textContent = '☀️'; // Иконка для светлой темы
                localStorage.setItem('theme', 'dark');
            } else {
                themeIcon.textContent = '🌙'; // Иконка для темной темы
                localStorage.setItem('theme', 'light');
            }
        }

        // Проверка сохраненной темы при загрузке страницы
        window.onload = function() {
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme === 'dark') {
                document.body.classList.add('dark-theme');
                document.getElementById('theme-icon').textContent = '☀️'; // Иконка для светлой темы
            } else {
                document.getElementById('theme-icon').textContent = '🌙'; // Иконка для темной темы
            }

            // Добавление обработчика события для кнопки переключения темы
            const themeToggle = document.getElementById('theme-toggle');
            if (themeToggle) {
                themeToggle.addEventListener('click', toggleTheme);
            }
        };
    </script>
</body>
</html> 